@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/******** Content Styling *******/

.content {
    margin-top: 30% !important;
}

.content .file-struc {
    width: 75% !important;
    height: auto !important;
}

.project .right {
  float: right;
  height: 75px;
  width: auto;
  margin-left: 5%;
}

.project .left {
  float: left;
  height: 75px;
  width: auto;
  margin-right: 5%;
}

.project .center {
  display: block;
  margin: 5% auto;
  height: 75px;
  width: auto;
}

.smaller {
  font-size: .65em;
  margin-left: 0;
}

/*****  Contact *****/

.contact-sep {
  display: none;
}

.contact-break {
  display: inline;
}

.contact {
  font-size: 2em !important;
  margin-top: 20% !important;
}


/*****  Verse  *****/

.card {
  max-width: 100%;
  height: auto;
}

/******** Tic Tac Toe Styling *******/

#one {
  border-right: 2px solid !important;
  border-bottom: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#two {
  border-right: 2px solid !important;
  border-left: 2px solid !important;
  border-bottom: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#three {
  border-left: 2px solid !important;
  border-bottom: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#four {
  border-top: 2px solid !important;
  border-right: 2px solid !important;
  border-bottom: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#five {
  border: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#six {
  border-top: 2px solid !important;
  border-left: 2px solid !important;
  border-bottom: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#seven {
  border-top: 2px solid !important;
  border-right: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#eight {
  border-top: 2px solid !important;
  border-right: 2px solid !important;
  border-left: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#nine {
  border-top: 2px solid !important;
  border-left: 2px solid !important;
  height: 100px !important;
  width: 100px !important;
}

#one img {
  height: 100px !important;
  width: 100px !important;
}

#two img {
  height: 100px !important;
  width: 100px !important;
}

#three img {
  height: 100px !important;
  width: 100px !important;
}

#four img {
  height: 100px !important;
  width: 100px !important;
}

#five img {
  height: 100px !important;
  width: 100px !important;
}

#six img {
  height: 100px !important;
  width: 100px !important;
}

#seven img {
  height: 100px !important;
  width: 100px !important;
}

#eight img {
  height: 100px !important;
  width: 100px !important;
}

#nine img {
  height: 100px !important;
  width: 100px !important;
}

#reset {
    font-weight: bolder !important;
}
