@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400);

html {
  background-color: #FFF;
}

#center {
  text-align: center;
}

#title {
  color: #e05a4c;
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  text-align: center;
  margin: 5% 0;
}

#sub-title {
  color: #e05a4c;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-align: center;
  line-height: normal;
}

.push-dwn-10 {
  margin-top: 10% !important;
}

.push-dwn-20 {
  margin-top: 20% !important;
}

.push-dwn-30 {
  margin-top: 30% !important;
}

.light {
  font-weight: 300;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.darker {
    color: #000 !important;
}

/*****  Navigation  *****/

#home-btn {
  font-family: 'Lato', 'Raleway', sans-serif;
  font-weight: lighter;
  color: #FFF;
  font-size: 2em;
  padding-right: 25px;
}

/*****  Content  *****/

.content {
  margin-top: 100px;
  margin-left: 10%;
  width: 80%;
  font-family: sans-serif;
  font-size: 1.15em;
  line-height: 135%;
}

.content hr {
  width: 80%;
  margin-left: 10%;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*****  Links  *****/

.content a {
  color: #e05a4c;
  text-decoration: none;
}

.content a:hover {
  color: #5a4ce0;
}

/*****  Projects  *****/

.smaller {
  font-size: .7em;
}

.project {
  margin-bottom: 20%;
  width: 70%;
  margin-left: 15%;
}

.project .right {
  float: right;
  height: 300px;
  width: auto;
  margin-left: 5%;
}

.project .left {
  float: left;
  height: 300px;
  width: auto;
  margin-right: 5%;
}

.project .center {
  display: block;
  margin: 5% auto;
  height: 300px;
  width: auto;
}

.short {
  margin-bottom: 5%;
}

/*****  Contact  *****/

.contact {
  color: #e05a4c;
  font-family: 'Lato', sans-serif;
  font-size: 5.5em !important;
  text-align: center;
}

.contact a {
    color: #e05a4c;
    text-decoration: none;
    letter-spacing: .25em;
}

.contact a:hover {
    color: #e05a4c;
    text-decoration: none;
    letter-spacing: .25em;
}

.contact-break {
  display: none;
}

.contact-sep {
  color: #4c4d4f;
}

/*****  Verses  *****/

.card {
  display: block;
  margin: 5% auto;
  height: 500px;
  width: auto;
  border: solid 1px black;
}

.ctr-dropdwn {
  /*margin-top: 3%;*/
  text-align: center;
}

/*http://stackoverflow.com/questions/19227496/scrollable-menu-with-bootstrap-3-menu-expanding-its-container-when-it-should-n*/
/*http://stackoverflow.com/questions/25610774/bootstrap-3-dropdown-menu-center-align-not-working*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

/*http://stackoverflow.com/questions/25610774/bootstrap-3-dropdown-menu-center-align-not-working*/
/*.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}*/

/*****  Footer  *****/

.footer {
  display: none;
  /*position: fixed;
  bottom: 0 !important;*/
}


/* Portrait and Landscape */
@media only screen
  and (max-device-width: 900px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /******** Content Styling *******/

    .content {
        margin-top: 30% ;
    }

    .content .file-struc {
        width: 75% ;
        height: auto ;
    }

    .project .right {
      float: right;
      height: 75px;
      width: auto;
      margin-left: 5%;
    }

    .project .left {
      float: left;
      height: 75px;
      width: auto;
      margin-right: 5%;
    }

    .project .center {
      display: block;
      margin: 5% auto;
      height: 75px;
      width: auto;
    }

    .smaller {
      font-size: .65em;
      margin-left: 0;
    }

    /*****  Contact *****/

    .contact-sep {
      display: none;
    }

    .contact-break {
      display: inline;
    }

    .contact {
      font-size: 2em;
      margin-top: 20%;
    }


    /*****  Verse  *****/

    .card {
      max-width: 100%;
      height: auto;
    }

    /******** Tic Tac Toe Styling *******/

    #one {
      border-right: 2px solid;
      border-bottom: 2px solid;
      height: 100px;
      width: 100px;
    }

    #two {
      border-right: 2px solid;
      border-left: 2px solid;
      border-bottom: 2px solid;
      height: 100px;
      width: 100px;
    }

    #three {
      border-left: 2px solid;
      border-bottom: 2px solid;
      height: 100px;
      width: 100px;
    }

    #four {
      border-top: 2px solid;
      border-right: 2px solid;
      border-bottom: 2px solid;
      height: 100px;
      width: 100px;
    }

    #five {
      border: 2px solid;
      height: 100px;
      width: 100px;
    }

    #six {
      border-top: 2px solid;
      border-left: 2px solid;
      border-bottom: 2px solid;
      height: 100px;
      width: 100px;
    }

    #seven {
      border-top: 2px solid;
      border-right: 2px solid;
      height: 100px;
      width: 100px;
    }

    #eight {
      border-top: 2px solid;
      border-right: 2px solid;
      border-left: 2px solid;
      height: 100px;
      width: 100px;
    }

    #nine {
      border-top: 2px solid;
      border-left: 2px solid;
      height: 100px;
      width: 100px;
    }

    img {
      height: 100px;
      width: 100px;
    }

    #reset {
        font-weight: bolder;
    }

}
