.square {
  display: inline-block;
  border: 1px solid black;
  padding-top: 0;
  width: 100px;
  height: auto;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}

.container {
  margin: 0 auto;
}

.input-txt {
  height: 25px;
  width: 318px;
  margin-bottom: 1%;
  font-size: .8em;
}

button {
  height: 25px;
  width: 160px;
  display: inline;
  font-size: 1em;
}

.high {
  background-color: #e55e5e;
}

.low {
  background-color: #5e5ee5;
}

.mid {
  background-color: #5ee55e;
}

.arr {
  font: #4c4d4f;
  font-size: 3em;
}

table {
  width: 100%;
}

table tr {
  width: 50%;
}

#title {
  margin-top: 10% !important;
}

.content {
    margin-top: 10% !important;
}


/*
Blue: #5e5ee5
Green: #5ee55e
Red: #E55E5E
*/
