.board {
  margin-left: 5%;
  display: block;
}

#one {
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 100px;
  width: 100px;
}

#two {
  border-right: 2px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
  height: 100px;
  width: 100px;
}

#three {
  border-left: 2px solid;
  border-bottom: 2px solid;
  height: 100px;
  width: 100px;
}

#four {
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

#five {
  border: 2px solid;
}

#six {
  border-top: 2px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
}

#seven {
  border-top: 2px solid;
  border-right: 2px solid;
}

#eight {
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
}

#nine {
  border-top: 2px solid;
  border-left: 2px solid;
}

#one img {
  height: 100px;
  width: 100px;
}

#two img {
  height: 100px;
  width: 100px;
}

#three img {
  height: 100px;
  width: 100px;
}

#four img {
  height: 100px;
  width: 100px;
}

#five img {
  height: 100px;
  width: 100px;
}

#six img {
  height: 100px;
  width: 100px;
}

#seven img {
  height: 100px;
  width: 100px;
}

#eight img {
  height: 100px;
  width: 100px;
}

#nine img {
  height: 100px;
  width: 100px;
}
/*
img {
  height: 100px;
  width: auto;
}
*/
